nav {
    height: 100%;
}

.side-nav-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem;
}
.side-nav-button:hover {
    background-color: darkgray;
    border-radius: 20%;
}