<nav class="navbar navbar-expand navbar-dark bg-dark px-2">

    <a href="#" class="navbar-brand px-4" >Brand</a>
    <div class="side-nav-button p-2 me-3 text-light" (click)="sideNavToggle()">
        <i class="fa-solid fa-bars"></i>
    </div>

    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle fw-bold text-white" role="button" data-bs-toggle="dropdown">
                    Menu 1
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a href="#" class="dropdown-item"> child 1</a></li>
                    <li><a href="#" class="dropdown-item"> child 2</a></li>
                    <li><a href="#" class="dropdown-item"> child 3</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle fw-bold text-white" role="button" data-bs-toggle="dropdown">
                    Menu 2
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a href="#" class="dropdown-item"> child 1</a></li>
                    <li><a href="#" class="dropdown-item"> child 2</a></li>
                    <li><a href="#" class="dropdown-item"> child 3</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="profile-logo dropdown">
        <button class="btn btn-outline-light dropdown-toggle rounded-5" data-bs-toggle="dropdown">
            &nbsp;&nbsp;<i class="fa fa-user"></i>&nbsp;&nbsp;<label for="user" class="fw-bold">Sasidhar</label>&nbsp;
        </button>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
            <li><a href="#" class="dropdown-item">Sign Up</a></li>
            <li><a href="#" class="dropdown-item">Log Out</a></li>
            <li><a href="#" class="dropdown-item">Log poiupipi oi</a></li>
        </ul>
    </div>
</nav>