<div class="side-nav-content">
    <ul class="nav-list" [ngClass]="{'nav-list-open':sideNavStatus}">
        <li class="nav-list-item" *ngFor="let item of list">
            <span>
                <a href="{{item.url}}"><i class="{{item.icon}}"></i>{{item.name}}</a>
            </span>
        </li>
        <li class="nav-list-item">
            <span>
                <a href="#"><i class="fa-solid fa-users"></i>Candidates <i class="fa-solid fa-caret-down"></i></a>
            </span>

        </li>
    </ul>
</div>
